.container {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    width: 40%;
    padding: 3%;
    margin: 3% auto;
  }
  
/* .container > * {
    width: 100%;
  }
  button{
    color: purple;
    background: none;
    border: none;
    font-size: 1vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    font-weight: bold;
  }
  button:hover{
    color: white;
    background-color: purple;
    border-radius: 25px;
    padding-top: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1%;
  }
  .card{
    border: 2px solid rgb(9, 196, 87);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    border-radius: 25px;
    width: 16%;
    margin: 3%;
    background-color: rgb(9, 196, 87);
    font-weight: bold;
  }
   */